<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body {% if page.url == "/" %}class="homepage is-preload"{% else %}class="no-sidebar is-preload"{% endif %}>
	<div id="page-wrapper">
		{% include header.html %}

		{{ content }}

		{% include footer.html %}
	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.dropotron.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
</body>
</html>